$font-smoothing {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-font-variant-ligatures: none;
	-webkit-text-size-adjust: 100%;\
	font-size: 100%;
	font-smoothing: antialiased;
	font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
