<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ .Site.Params.description }}">
		<meta name="author" content="{{ .Site.Author.name }}">

		<title>{{ .Title }}</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=El+Messiri|Lilita+One">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/global.css">
	</head>
	<body>
