.section-wrapper {
	margin: 0 auto;
	max-width: 960px;
	padding: 20px;
}

h1 {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media all and (min-width: 50em) {
	.section-wrapper {
		padding-bottom: 50px;
		padding-top: 50px;
	}
}
