nav {
	background-color: navy;

	ul {
		text-align: center;
	}

	li {
		&:first-child {
			a {
				padding-top: 0;
			}
		}

		&:last-child {
			a {
				padding-bottom: 0;
			}
		}
	}

	a {
		@extend $font-smoothing;
		box-sizing: border-box;
		color: white;
		cursor: pointer;
		display: block;
		font-family: "Lilita One", sans-serif;
		font-size: 20px;
		padding: 10px 0;
		text-decoration: none;
		text-transform: uppercase;
		transition: color .2s ease;
	}
}

@media all and (min-width: 50em) {
	nav {
		ul {
			font-size: 0;
			text-align: right;
		}

		li {
			display: inline-block;

			&:first-child {
				a {
					margin-left: 0;
					padding-top: 10px;
				}
			}

			&:last-child {
				a {
					margin-right: 0;
					padding-bottom: 10px;
				}
			}
		}



		a {
			margin: 0 20px;

			&:hover {
				color: silver;
			}


		}
	}
}
